[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]

validators = "*"
"mesh-networking" = "*"
netifaces = "*"
shortuuid = "*"


[requires]
python_version = "3.6"